$yellowColor : #E0D105;
$yellowColorLight: #E3DC76;
$colorText : #454439;
$colorGrey: #E7E8EA;

$fontMain : 'Novecento', Verdana, Arial, Helvetica, sans-serif;
$fontSecond: 'Open Sans', Verdana, Arial, Helvetica, sans-serif;;